root{
    font-size: 10px;
}
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #f1f1f1;
}

#menu-main {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex: 4 0 4rem;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    align-items: center;
    overflow: hidden;
    border: 0.75rem solid rgb(82, 188, 185);
}


.perspective-text {
    color: black;
    font-family: Arial;
    font-size: 2.9rem;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-top: 10rem;
    margin-left: -5rem;
    padding: 7.5rem 4rem 7.5rem 4rem;
}

.perspective-line {
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

p {
    margin: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
}

/*ANIMATED TITLE*/

/*@keyframes change-text{*/
/*    0%{*/
/*        transform: translate(0, 0);*/
/*    }*/
/*    40%{*/
/*        transform: translate(0, 0);*/
/*    }*/
/*    60%{*/
/*        transform: translate(0, -2.5rem);*/
/*    }*/
/*    100%{*/
/*        transform: translate(0, -2.5rem);*/
/*    }*/
/*}*/

/*.perspective-text p{*/
/*    animation-duration: 4s;*/
/*    animation-name: change-text;*/
/*    animation-iteration-count: infinite;*/
/*    animation-direction: alternate;*/
/*    animation-timing-function:ease-in-out;*/
/*}*/

.perspective-text:hover p {
    transform: translate(0, -2.5rem);
    cursor: default;
}

.perspective-line:nth-child(1) {
    left: 1.45rem;
}

.perspective-line:nth-child(2) {
    left: 2.9rem;
}

.perspective-line:nth-child(3) {
    left: 4.35rem;
}

.perspective-line:nth-child(4) {
    left: 5.8rem;
}

.perspective-line:nth-child(5) {
    left: 7.25rem;
}

#visit{
    font-family: "Playfair Display", monospace;
    font-weight: 600;
    padding: 0 0.25rem;
    font-size: 1rem;
    background: linear-gradient(to bottom, #f1f1f1 60%, rgb(82, 188, 185) 40%);
}

#visit:hover{
    cursor: pointer;
}